body.scroll-disabled:not(.actually) {
	height: initial;
	overflow: initial;
	position: initial;
	width: initial;
}

*[class*="XPromo"], *[class*="xPromo"]{
	display: none;
}

.EUCookieNotice {
	display: none;
}

body.no-avatars .CommentHeader__col2 {
	padding-left: 0;
}

body.no-avatars .CommentHeader__avatar {
	display: none;
}

body.no-avatars .Comment__body {
	padding-left: 0;
}

body.no-avatars .Comment__toolsContainer.clearfix {
	padding-left: 0;
}

body.show-all .CommentTree__tree {
	max-height: none;
}

body.show-all .CommentTree__tree.m-listing-below {
	overflow: unset;
	position: unset;
}

body.show-all .CommentTree__SeeFullBtn {
	display: none;
}

body.show-all .CommentTree__tree.m-listing-below::after {
	background: none;
}

body.easy-select .CommentHeader:active:hover, body.easy-select .CommentHeader:active:focus {
	cursor: pointer;
	background-color: lightgray;
}

body.hide-announcement .PostsFromSubredditPage .Announcement {
	display: none;
}